extends ../layout
block content

  form(action='/lists/#{list._id}', method='post')
    .form-group
      label(for='commentsText') comment
      input.form-control(type='text', name='commentsText')
    .form-group
      button.btn.btn-primary.btn-success(type='submit') Submit!

