extends ../layout

block content

  .grid
    each list in lists
      .grid-item
        form(action='/lists/#{list._id}?_method=DELETE', method='post')
          a(href='/lists/#{list._id}', style={color: 'blue'}) #{list.title}
          .form-group
            button.btn.btn-primary.btn-success(type='submit') Delete

  a(href='/lists/new', style={color: 'red'}) Add List
