extends ../layout

block content
  h2 Create a New List

  form(action='/lists', method='post')
    .form-group
      label(for='title') Title
      input.form-control(type='text', name='title')

    .form-group
      label(for='itemOne') #1
      input.form-control(type='text', name='itemOne')

    .form-group
      label(for='itemTwo') #2
      input.form-control(type='text', name='itemTwo')

    .form-group
      label(for='itemThree') #3
      input.form-control(type='text', name='itemThree')

    .form-group
      label(for='itemFour') #4
      input.form-control(type='text', name='itemFour')

    .form-group
      label(for='itemFive') #5
      input.form-control(type='text', name='itemFive')

    .form-group
      label(for='image') Image
      input.form-control(type='text', name='image')
    .form-group
      button.btn.btn-primary.btn-success(type='submit') Submit!
