extends ../layout

block content
  h2 Create a New List

  - categories = ['food', 'sports', 'cars', 'politics', 'science', 'art', 'religion', 'entertainment', 'fashion', 'miscellaneous']

  each category in categories
    .grid
      .category-box
        .grid-item
          .panel.panel-default
            .panel-heading
              h3.panel-title #{category}
            .panel-body
              img.img-responsive(src='http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg')
            .panel-footer
              button.btn.btn-primary.btn-lg(type="button", data-toggle="modal", data-target="##{category}-form") Create

        .modal.fade.category-form(id="#{category}-form", tabindex="-1")
          .modal-dialog
            .modal-content
              .modal-header
                h2 Create a new List!
              .modal-body
                form.form-inline(action='/lists', method='post')
                  .form-group
                    input.form-control(type='text', name='title', placeholder='title')
                  br
                  br

                  .form-group
                    input.form-control(type='text', name='itemOne', placeholder='First Thing')
                    input.form-control(type='url', name='imageOne', placeholder='Image URL')
                  br


                  .form-group
                    input.form-control(type='text', name='itemTwo', placeholder='Second Thing')
                    input.form-control(type='url', name='imageTwo', placeholder='Image URL')
                  br

                  .form-group
                    input.form-control(type='text', name='itemThree', placeholder='Third Thing')
                    input.form-control(type='url', name='imageThree', placeholder='Image URL')
                  br

                  .form-group
                    input.form-control(type='text', name='itemFour', placeholder='Fourth Thing')
                    input.form-control(type='url', name='imageFour', placeholder='Image URL')
                  br

                  .form-group
                    input.form-control(type='text', name='itemFive', placeholder='Fifth Thing')
                    input.form-control(type='url', name='imageFive', placeholder='Image URL')
                    input(type='hidden', name='category', value="#{category}")
                  br
                  br


                  .form-group
                    button.btn.btn-primary.btn-success(type='submit') Submit!

