extends ../intro_layout
block content
  h1 Getting Started
    .container.start
      .row
        .col-md-6.col-md-offset-3
          .well.getStarted
            p After signing in or signing up, click on your username in the nav bar to select a topic to follow. Your feed will be populated with lists of the chosen topic.
