head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='javascripts/jquery.js')
  script(src='javascripts/masonry.min.js')
  script(src='javascripts/scripts.js')

  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js")
