include intro_nav
.flash
  if (typeof message !== 'undefined')
    if (typeof message.error !== 'undefined' && message.error.length > 0)
      .bg-danger #{message.error}
    if (typeof message.info !== 'undefined' && message.info.length > 0)
      .bg-info #{message.info}
    if (typeof message.success !== 'undefined' && message.success.length > 0)
      .bg-success #{message.success}
