nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Raive
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/signup') Sign Up
      li
        a(href='/signin') Sign In

