nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Raive
    ul.nav.navbar-nav.navbar-right
      if currentUser
        li
          a(href='/lists/feed') Feed
        li.navbar-left
          a(href='/lists') My Lists
        li
          a(href='/users/#{currentUser.id}/edit') #{currentUser.local.username}
        li
          a(href='/signout') Sign Out
      else
        li
          a(href='/signup') Sign Up
        li
          a(href='/signin') Sign In

