@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";
@import "bootswatch";

body
  padding: 100px 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center

body.intro
  background-image: url('../images/awesome-city-lights-wallpaper-1.jpg')
  background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  -webkit-background-size: cover
  text-align: center
  color: white
  padding: 100px 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.navbar
  height: 53px
  line-height: 100px
  border-bottom: 1px solid black
  vertical-align: middle

.intro_nav a
  opacity: 1
  color: white

.intro_nav
  border-bottom: 0.5px solid white
  height: 53px

main
  margin-top: 3em

.grid
  margin-top: 2em

.grid-item
  max-width: 30%
  min-width: 30%
  float: left
  margin: 1em
  display: inline-block

div.list-group
  width: 100%

div.bootcards-list
  clear: both
  margin-top: 20px
  background-color: none
  width: 100%

.category-form
  max-width: 50%;

.jumbotron
  background: rgba(0,0,0,0.3) !important
  border-radius: 20px
  text-align: left

<<<<<<< HEAD

=======
.getStarted
  background: rgba(0,0,0,0.3) !important
  margin-top: 10px

.well.getStarted
  border: none

.getStarted p
  font-size: 20px
>>>>>>> a1a99e508c0bc371e39338d15eaac6bdf3a71c09
