extends ../layout

block content
  h2 Sign Up

  .container
    .row
      .col-md-6.col-md-offset-3
        .well
          form(action='/signup', method="post")
            .form-group
              label(for='username') username
              input.form-control(type='username', name='username')
            .form-group
              label(for='image') Profile Picture
              input.form-control(type='text', name='image', placeholder='URL')
            .form-group
              label(for='password') Password
              input.form-control(type='password', name='password')

            .form-group
              label(for='password-confirm') Confirm Password
              input.form-control(type='password', name='password-confirm')

            .form-group
               label(for='category') Choose a topic to follow:
               select(name='category')
                 option(value='') None
                 option(value='politics') Politics
                 option(value='science') Science
                 option(value='art') Art
                 option(value='religion') Religion
                 option(value='food') Food
                 option(value='fashion') Fashion
                 option(value='cars') Cars
                 option(value='sports') Sports
                 option(value='entertainment') Entertainment
                 option(value='Miscellaneous') Miscellaneous

            .form-group
              button.btn.btn-primary.btn-success(type='submit') Sign Up!

