extends ../layout

block content
  h2 Sign In

  div.well 
    form(action='/signin', method='post')
      .form-group
        label(for='username') Username
        input.form-control(type='username', name='username')
    
      .form-group
        label(for='password') Password
        input.form-control(type='password', name='password')
    
      .form-group
        button.btn.btn-primary.btn-success(type='submit') Sign In!
  
